<div class="position-fixed">
    <div class="mt-5 ml-5">
        <h6 class="d-block font-weight-bold my-3">
            Stories
        </h6>
        <div class="text-muted">
            Stories from topic you follow will show up here.
        </div>
    </div>

    <div class="mt-5 ml-5">
        <h6 class="d-block font-weight-bold my-3">
            Suggestions for you
        </h6>
        <div class="text-muted">
            {% for suggested_user in suggested_user_list %} {% include "instagram/timeline_sidebar_user_follow.html" %} {% empty %} 추천 친구가 없습니다. {% endfor %}
        </div>
    </div>
</div>